name: pytools-develop
channels:
  - conda-forge
  - bcg_gamma
dependencies:
  # run
  - joblib ~= 1.1
  - matplotlib ~= 3.5
  - numpy ~= 1.22
  - pandas ~= 1.4
  - python ~= 3.8.12
  - scipy ~= 1.8
  - typing_inspect ~= 0.7
  # build/test
  - conda-build ~= 3.21
  - conda-verify ~= 3.1
  - docutils ~= 0.17
  - flit ~= 3.0
  - jinja2 ~= 2.11
  - markupsafe < 2.1  # markupsafe 2.1 breaks support for jinja2
  - m2r ~= 0.2
  - pluggy ~= 0.13
  - pytest ~= 7.1
  - pytest-cov ~= 2.12
  - pyyaml ~= 5.4
  - toml ~= 0.10
  - tox ~= 3.24
  - yaml ~= 0.2
  # sphinx
  - sphinx ~= 4.5
  - sphinx-autodoc-typehints ~= 1.19
  - nbsphinx ~= 0.8.9
  - pydata-sphinx-theme ~= 0.8.1
  # notebooks
  - jupyterlab ~= 3.2
  - openpyxl ~= 3.0
  - seaborn ~= 0.11
